/* 
* Global CSS 
*/

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@import 'tailwindcss/base';

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@import 'tailwindcss/components';

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@import 'tailwindcss/utilities';

/**
 * Additional default styles 
 *
 * Make sure to create individual selector rules so an 
 * individual `CSSStyleRule` is created for each selector
 */
@layer base {
	:root {
		font-family: 'Inter', sans-serif;
		font-feature-settings: 'cv11' 1;
	}
	@supports (font-variation-settings: normal) {
		:root {
			font-family: 'Inter var', sans-serif;
		}
	}

	rect {
		fill: none;
		stroke: currentColor;
	}
	circle {
		fill: none;
		stroke: currentColor;
	}
	path {
		fill: none;
		stroke: currentColor;
		stroke-linecap: round;
	}
	line {
		fill: none;
		stroke: currentColor;
		stroke-linecap: round;
	}
}

/* 
@layer utilities {
}
*/

@layer components {
	.btn {
		@apply inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
	}
}
